html {
    scroll-behavior: smooth;
    width: 100%;
    cursor: default;
    /*  overflow-y: hidden; */
}

body {
    width: 100%;
    color: #ffffff;
    background-color: #000000;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
}

.container {
    z-index: 9;
    height: 100vh;
    width: 100%;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.carousel-item img {
    height: 500px;
}

#bg-container {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../public/images/background-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#name-highlight {
    color: #4FD1C5;
}

a:focus {
    color: #4FD1C5 !important;
}

.intro h1 {
    font-size: 5rem;
    font-weight: 500;
}

.intro h2 {
    font-size: 3.5rem;
}

.navbar {
    position: absolute;
    width: 100%;
}

.navbar a {
    color: #faf9f9;
    font-size: 1.5em;
    margin-right: 20px;
    padding: 5px;
}

.navbar a:hover {
    color: #4FD1C5;
}

.heading {
    color: #4FD1C5;
    font-size: 2em;
}

.text {
    font-weight: 200;
    font-size: 1.5em;
}

/* --------- */

.arrow {
    position: absolute;
    right: 0;
    font-size: 1.25em;
}

.arrow a {
    color: #4FD1C5;
    text-decoration: none;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* --------- */

.profile-picture-container {
    border-radius: 50%;
    width: 324px;
    height: 324px;
    padding: 0;
}

.profile-picture-container img {
    box-shadow: 0 0 20px 1px #4FD1C5;
    border-radius: 50%;
    width: 324px;
    height: 324px;
}

.contact-link {
    color: #faf9f9;
    border-bottom: 2px solid transparent;
    font-size: 1.5rem;
}

.contact-link a {
    text-decoration: none;
    color: #faf9f9;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.contact-link:hover {
    cursor: pointer;
    color: #4FD1C5;
    border-bottom: 2px solid #faf9f9;
    transition: color .15s ease-in-out, border-bottom-color .15s ease-in-out;
}

.skill {
    padding: 10px 20px;
    font-size: 1.25rem;
    box-shadow: 0 0 5px 1px #4FD1C5;
    border-radius: 100px;
}

i:hover {
    color: #4FD1C5;
    transition: color .15s ease-in-out;
}

img {
    object-fit: cover;
}

.modal-content {
    border: none;
}

@media (max-width: 575.98px) {
    .container {
        padding: 0 7.5px 0 7.5px;
    }
    /*First container*/
    .intro {
        margin-bottom: 5rem;
    }
    .intro h1 {
        font-size: 3rem;
    }
    .intro h2 {
        font-size: 2rem;
    }
    #mainbutton {
        min-width: 250px;
        min-height: 50px;
        font-size: 18px;
    }
    #mainbutton::before {
        min-width: 250px;
        min-height: 50px;
        border: 0;
        box-shadow: 0;
        opacity: 0;
        transition: 0s;
    }
    #mainbutton:hover, #mainbutton:focus {
        transform: translateY(0px);
    }
    .navbar {
        margin-top: 0 !important;
    }
    .navbar-collapse {
        padding-left: 12px;
    }
    /*Second container*/
    #about {
        height: auto;
    }
    #projects {
        height: auto;
    }
    .heading {
        font-size: 1.5em;
        text-align: center;
    }
    .text {
        text-align: center;
        font-size: 1.25em;
    }
    .skills {
        margin-bottom: 3rem;
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .skill {
        padding: 5px 10px;
        font-size: 1.10rem;
        box-shadow: 0 0 5px 1px #4FD1C5;
        border-radius: 100px;
        margin: 5px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .wrapper div:first-child {
        order: 1;
    }
    .profile-picture-container {
        margin-bottom: 3rem;
        height: 250px;
        width: 250px;
    }
    .profile-picture-container img {
        height: 250px;
        width: 250px;
    }
    .about-me {
        margin-bottom: 3rem;
    }
    .socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .socials i {
        font-size: 1.25em;
        margin-left: 0 !important;
        margin: 15px 15px 0 0;
    }
    .socials i a {
        font-size: 1em;
    }
    .arrow {
        display: none;
    }
    .card {
        width: auto !important;
        margin: 0 5px 0 5px !important;
        box-shadow: 0 0 20px 2px #00d7c3;
        border: none !important;
    }
    .tech {
        font-size: 0.75rem;
        padding: 4px 4px;
    }
    .me-3 {
        margin-right: 0.5rem !important;
    }
    .me-2 {
        margin-right: 0.25rem !important;
    }
    .card-social {
        font-size: 1.15rem !important;
    }
    .chatsapp-col {
        margin-bottom: 0 !important;
    }
    .carousel-item img {
        height: 300px;
    }
}

/* // small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}

@media (min-width: 767.98px) {
    @keyframes ring {
        0% {
            width: 30px;
            height: 30px;
            opacity: 1;
        }
        100% {
            width: 300px;
            height: 300px;
            opacity: 0;
        }
    }
}